html,
body {
  margin: 0;
  padding: 0;
}

#popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
}
#popup textarea {
  width: 320px;
  height: 240px;
  margin: auto;
  border-radius: 10px;
}
